.footer {
    width: 100%;
    height: auto;
}

.footer-content-row1 {
    display: flex;
    flex-direction: row;
    background-color: #10b38d;
}

.foot-row1-left, .foot-row1-right {
    width: 50%;
    display: flex;
    margin: auto 0;
    padding: .7em 3em;
}
.row1-text{
    margin-top: 1em;
    font-size: 17px;

}

.foot-row1-right {
    align-items: right;
    justify-content: right;
    gap: .5em;
}

.foot-gmail-text {
    font-size: 17px;
    color: #000000;
    text-decoration: none;
}