.collapse {
    margin-right: 3em;    
}

.navbar {
    background: #0d0a02;
/* Suggested darker-to-lighter smooth gradient with lighter part at the end */
background: linear-gradient(180deg,rgba(0, 0, 0, 0.907) 22%, rgba(0, 0, 0, 0.699) 50%, rgba(0, 0, 0, 0.556) 74%, rgba(0, 0, 0, 0.359) 98%);
    overflow: hidden;
    margin-bottom: -6.4%;
    padding: 1em;
    position: sticky;
    top: 0; /* Sticks to the top */
    z-index: 1000; /* Ensures it stays above other content */
    filter: blur(0px);
    backdrop-filter: blur(5px);
}




.navbar.scrolled .nav-link{
color: white;  
}
.navbar .nav-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;

}
.nav-item:hover a{
    color: #0fbf96;
    text-decoration: none;
}

.scrolled .nav-item:hover a{
    color: #e5be3e;
    text-decoration: none;
}

.nav-item {
    margin: 0 8px;
}

.logo-hero{
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1);
    margin-left: 3em;
}