.collapse {
    margin-right: 3em;    
}

.navbar {
    background: #0d0a02;
/* Suggested darker-to-lighter smooth gradient with lighter part at the end */
background: linear-gradient(180deg, 
  rgba(1, 15, 13, 0.971) 20%,              /* Very dark green-black at start */
  #010e0cd2 45%,     /* Dark translucent green */
  #010e0ca7 66%,      /* Slightly lighter dark green */
  rgba(3, 24, 19, 0.662) 90%,      /* Dark rich green with high opacity */
  rgba(4, 42, 33, 0.167) 107%     /* Lightest, but still subtle green at end */
);

    overflow: hidden;
    margin-bottom: -6.4%;
    padding: 1em;
    position: sticky;
    top: 0; /* Sticks to the top */
    z-index: 1000; /* Ensures it stays above other content */
    filter: blur(0px);
    backdrop-filter: blur(6px);
}




.navbar.scrolled .nav-link{
color: white;  
}
.navbar .nav-link {
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;

}
.nav-item:hover a{
    color: #0fbf96;
    text-decoration: none;
}

.scrolled .nav-item:hover a{
    color: #e5be3e;
    text-decoration: none;
}

.nav-item {
    margin: 0 8px;
}

.logo-hero{
    width: 50px;
    height: 50px;
}